<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @todos.each do |todo| %>
          <tr>
            <td><%= todo.description %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
            <td><%= link_to 'Remove', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Todo', new_todo_path %>
